{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid" style="margin-top: 50px;">
        <div class="head">
            <div class="three">
                <h1 style="color: #FFFFFF">Predicted Role : </h1>
                <h2 style="color: #FFFFFF">{{ b }}</h2>
                <br/>
                <h1 style="color: #FFFFFF">Skills to be Learned</h1>
            </div>
            <br>
            <h3 style="color: #FFFFFF">
                <ul>
                    {% for i in a %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </h3>
            <br>
        </div>
    </div>
{% endblock %}
